.swiper-button-prev, .swiper-button-next {
  position: absolute;
  top: -50px;
  width: 32px;
  height: 32px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-next {
  right: 0;
  transform: translateY(-20px) ;
}

.isAdmin .swiper-button-next {
  transform: translateY(-40px) ;
}

.swiper-button-prev {
  left: auto;
  right: 50px;
  transform: translateY(-31px) rotate(180deg)
}

.isAdmin .swiper-button-prev {
  transform: translateY(-39px) rotate(180deg)
}

.swiper {
  overflow-y: visible;
  overflow-x: clip;
}